<div>
  <h2 id="page-heading" data-cy="StatoHeading">
    <span>Statoes</span>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-info mr-2"
        (click)="reset()"
        [disabled]="isLoading"
      >
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stato"
        [routerLink]="['/stato/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Stato </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="statoes?.length === 0">
    <span>No statoes found</span>
  </div>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="statoes && statoes.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr
          jhiSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="reset()"
        >
          <th scope="col" jhiSortBy="id">
            <span>ID</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idStadio">
            <span>Id Stadio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dsStadio">
            <span>Ds Stadio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tsCambioStato">
            <span>Ts Cambio Stato</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stadio.id">
            <span>Stadio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr
          *ngFor="let stato of statoes; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/stato', stato.id, 'view']">{{ stato.id }}</a>
          </td>
          <td>{{ stato.idStadio }}</td>
          <td>{{ stato.dsStadio }}</td>
          <td>{{ stato.tsCambioStato | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="stato.stadio">
              <a [routerLink]="['/stadio', stato.stadio?.id, 'view']">{{
                stato.stadio?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stato', stato.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/stato', stato.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(stato)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
